.top_nav{
    padding: 0;
    width: 100%;
    height: 30px;
    background-color: #F3BFB3;
    float: left;
    display: block;
}

ul.h_list{
    padding: 0;
    display: block;
    list-style-type: none;
    margin: 0;
    right: 0;
    position: relative;
    height: inherit;
}
li.h_list_item{
    height: inherit;
    float: left;
    width: 16%;
}

li.h_list_item a.h_list_link{
    display: block;
}

a.h_list_link{
    text-align: center;
    padding: 5px;
}

li.h_list_item a.h_list_link:hover{
    background-color: #CCADB2;
    color: white;
}